body:has(.login-container) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pattern-rodape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    height: 30vh;
    z-index: -1;
    background-image: url('../img/pattern-rodape.svg');
    background-repeat: repeat;
    background-size: cover;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    background-color: #FFFFFF;
    height: fit-content;
    padding: 40px;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.27); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.27);
}

.back-button {
    font-family: 'Poppins-Bold';
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #0042C8;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    top: -15px;
    left: -150px;
}

.login-container img {
    width: 260px;
}

.login-container b {
    font-family: 'Poppins-Bold';
    font-size: 15px;
    color: #040845;
}

.login-container span.sent {
    color: #33A100;
    text-align: center;
    font-family: 'Poppins-Bold';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login-container span {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    color: #040845;
}

.login-container span.message {
    font-family: 'Poppins-Light';
    font-size: 12px;
    color: #FF0000;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.form-group {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.form-group a {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    color: #0047F9;
    text-decoration: none;
}

.form-group input, .form-group select {
    width: -webkit-fill-available;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    background-color: #F1F5F8;
}

.form-group select {
    font-family: 'Poppins-Bold';
    color: #0042C8;
    margin-bottom: 80px;
}

.form-group input::placeholder {
    font-family: 'Poppins-Light';
}

.form-group label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-right: -320px;
}

.form-group input.error {
    outline: none;
    border: 1px solid #FF0000;
}

form button {
    padding: 10px 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #0042C8;
    color: #FFFFFF;
    font-family: 'Poppins-Bold';
    font-size: 14px;
    border: none;
}

.login-container a.back {
    padding: 10px 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #0042C8;
    color: #FFFFFF;
    font-family: 'Poppins-Bold';
    font-size: 14px;
    border: none;
    text-decoration: none;
}

.logo-sisapi img {
    width: 100px;
    margin-bottom: -20px;
}