.new-login-container {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    height: 100vh;
    justify-content: space-between;
}

/* Right content styling */

.new-login-container .system-logo-wrapper {
    background-color: #0042C8;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 60%;
}

.new-login-container .system-logo-wrapper span {
    font-family: 'Poppins-Bold';
    font-size: 20px;
    color: #ffffff;
}

.new-login-container .system-logo-wrapper img {
    height: 70px;
}

/* Left content styling */

.new-login-container .main-wrapper {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-login-container .main-wrapper .central-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.new-login-container .main-wrapper .central-wrapper .city-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-login-container .main-wrapper .central-wrapper .city-logo-container span {
    font-family: 'Poppins-Bold';
    font-size: 12px;
    color: #040845;
}

.new-login-container .main-wrapper .central-wrapper .city-logo-container img {
    height: 50px;
}

.new-login-container .main-wrapper .central-wrapper .city-logo-container a.back-button {
    margin-bottom: -30px;
    padding: 10px 20px;
    position: relative;
    top: -15px;
    left: -150px;
    font-size: 12px;
}

.new-login-container .main-wrapper .central-wrapper small {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    color: #161179;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper.password-wrapper {
    align-items: center;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-right: -310px;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper a {
    font-family: 'Poppins-Regular';
    font-size: 12px;
    color: #161179;
    text-decoration: none;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper #showOptions {
    width: -webkit-fill-available;
    height: 40px;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Poppins-Bold';
    font-size: 14px;
    color: #ffffff;
    background-color: #161179;
    background-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper #showOptions img {
    height: 12px;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper .modules-wrapper {
    margin-top: 5px;
    background-color: #F1F5F8;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    border-radius: 6px;
    width: -webkit-fill-available;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
    position: relative;
    top: -60px;
    transition: ease-in-out .1s top;
    visibility: hidden;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper .modules-wrapper.opened {
    top: 0;
    visibility: visible;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper .modules-wrapper button {
    color: #161179;
    background-color: #F1F5F8;
    padding: 10px 20px;
    width: -webkit-fill-available;
    border-radius: 6px;
    font-family: 'Poppins-Bold';
    text-decoration: none;
    align-self: center;
    text-align: start;
    cursor: pointer;
    font-size: 14px;
    transition: ease-in-out .2s all;
}


.new-login-container .main-wrapper .central-wrapper .form-wrapper .modules-wrapper button:hover {
    color: #ffffff;
    background-color: #161179;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper select:open {
    background: url('../img/select-arrow-open.svg') no-repeat right 10px center;
    background-color: #161179;
    background-size: 16px;
    padding-right: 30px;

}

.new-login-container .main-wrapper .central-wrapper .form-wrapper input {
    width: -webkit-fill-available;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    background-color: #F1F5F8;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper input::placeholder {
    font-family: 'Poppins-Light';
    font-size: 12px;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper.forgot-wrapper {
    justify-content: flex-end;
    font-family: 'Poppins-Regular';
    font-size: 10px;
    color: #040845;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper.forgot-wrapper a {
    font-size: 10px;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper.button-wrapper {
    padding-top: 30px;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper.button-wrapper button, .new-login-container .main-wrapper .central-wrapper a.back-button {
    background-color: #161179;
    border: 2px solid #161179;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Poppins-Bold';
    text-decoration: none;
    align-self: center;
    cursor: pointer;
    font-size: 14px;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper.button-wrapper button:hover, .new-login-container .main-wrapper .central-wrapper a:hover {
    background-color: #ffffff;
    color: #161179;
}

.new-login-container .main-wrapper .central-wrapper .form-wrapper .message {
    font-family: 'Poppins-Regular';
    text-align: center;
    font-size: 12px;
    color: #DB0000;
}

.new-login-container .main-wrapper .central-wrapper .sent {
    font-family: 'Poppins-Bold';
    font-size: 25px;
    color: #33A100;
    padding: 40px 0;
}